@config "../tailwind.config.js";
@import 'tailwindcss';

@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/redaction/Redaction_35-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/redaction/Redaction_35-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/redaction/Redaction_35-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 280px;
  min-height: stretch;
}
